* {
  background-color: var(--body-bg-color);
  color: var(--font-color);
  cursor: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  border: 2px solid white;
  background-color: transparent;
  mix-blend-mode: difference;
  z-index: 99999999999;
  pointer-events: none;
}

.cursor-hover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  border: 2px solid white;
  background-color: transparent;
  mix-blend-mode: difference;
  z-index: 99999999999;
  pointer-events: none;
}

.home-container {
  height: 100vh;
  overflow-y: hidden;
}

.coming-soon-text {
  position: relative;
  top: -20px;
  z-index: 2;
  font-size: 4vw;
  font-weight: lighter;
 
}

.coming-soon-container {
  
}

/* Logo Styling */
.logo-container {
 height: 90rem;
}

.logo {
  height: auto;
  width: 100%;
  margin-top: -75px;
  z-index: 1;
}

/* Navigation Styling */

.hidden-a {
  opacity: 0;
}

.reveal-a {
  display: block;
}

.menu-link span {
  background-color: var(--font-color);
  
}

a span span {
  position: relative;
  opacity: 0;
  animation: move-text 1s forwards;
  /* animation: move-text 1s forwards;*/
  
  animation-iteration-count: 1;
}

.menu-button {
  border: 1px solid red;
  left: 25px;
  top: 10px;
}

.open-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
  border: none;
  position: relative;
  left:25px;
}

.close-menu-button .nav-line1 {
  transform: translate(0, 10px) rotate(-45deg);
  background-color: var(--body-bg-color);
  position: absolute;
  z-index: 999999;
  left: 25px;
  top: 10px;
  transition: 0.5s;
}

.close-menu-button .nav-line2 {
  opacity: 0;
}

.close-menu-button .nav-line3 {
  transform: translate(0, 10px) rotate(45deg);
  background-color: var(--body-bg-color);
  position: absolute;
  z-index: 999999;
  left: 25px;
  top: 10px;
  transition: 2s;
}

.nav-line1, .nav-line2, .nav-line3 {
  position: relative;
  top: 10px;
  width: 35px;
  height: 1px;
  background-color: var(--font-color);
  margin: 6px 0;
  transition: 1s;
}

.border-bottom {
  border-bottom: 1px solid var(--font-color);
  width: 100%;
}

.hidden-menu {
  display: none;
}

.menu-container {
  transition: 1s;
  /*height: 75%;*/
  width: 100%;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: var(--font-color);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 1s;
}

.menu-content {
  background-color: var(--font-color);
  position: relative;
  left: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /*text-align: center;*/
  margin-top: 50px;
}

.menu-link {
  text-decoration: none;
  background-color: var(--font-color);
  color: var(--body-bg-color);
  border: none;
  font-size: 2rem;
  font-weight: 100;
  border: none;
}

.menu-link:hover {
  opacity: 0.5;
}
/* Navigation Styling Ends */

/* Toggle and Theme Styling */
.dark {
  --font-color: #edece7;
  --body-bg-color: #242222;
  --alt-font-color: rgba(237, 236, 231, 0.75);
  
}

.light {
  --font-color: #242222;
  --body-bg-color: #edece7;
  --alt-font-color: rgba(36, 34, 34, 0.75);
}

.home-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--font-color);
  position: relative;
  z-index: 2;
}

.theme-togg-container {
  padding-top: 20px;
  padding-right: 25px;
}

.toggle-container {
  height: 40px;
  width: 80px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
  cursor: pointer;
  transition: all .3s;
  animation: fadeIn 8s linear;
}

.handle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.toggleDark, .toggleLight {
  align-items: center;
  -webkit-animation: fadeIn 8s linear;
  animation: fadeIn 8s linear;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 25px;
  padding: 0 5px;
  transition: all .3s;
  width: 45px;
  background-color: var(--font-color);
}

.toggleLight {
  justify-content: flex-end;
}


.toggleLight .handle {
  background-color: var(--body-bg-color);
}

.toggleDark {
  justify-content: flex-start;
}


.toggleDark .handle {
  background-color: var(--body-bg-color);
}
/*Theme and Toggle Styling Ends */

/* Contact Styling */
.hidden-contact, .hidden-form {
  visibility: hidden;
  height: 0px;
  padding: 0px;
}

.contact-show {

  background-color: var(--alt-font-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 1s;
  margin-bottom: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-button-container {
  background-color: var(--font-color);
}

.contact-button {
  color: var(--body-bg-color);
  background-color: transparent;
  border: none;
  z-index: 3;
  font-weight: 100;
  font-size: 5vw;

}

.contact-container {
  
}

.contact-form-container {
  padding: 4rem;
  opacity: 1;
}

.contact-form-title {
  font-size: 3.5vw;
}

.form-content {
  font-size: 3vw;

}

.form-group {
  margin-bottom: 25px;
}

.form-name {
  
}

.form-input {
  padding: 10px;
  width: 95%;
  border: 1px solid white;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 200px;
  text-align: center;
  border: 1px solid white;
}

.close-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

.close-btn {
  border: none;
 
}

.close-container {
  
}

.close-line1, .close-line2 {
  height: 2px;
  margin: 10px 0;
  width: 35px;
  background-color: var(--font-color);
}

.close-line2 {
  -webkit-transform: translateY(0px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
}

.close-line1 {
  transform: translateY(12px) rotate(45deg);
}

/* About Styling */
.about-container {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.about-i {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.about-i-title {
  font-weight: 100;
  font-size: 3rem;
  padding: 25px;
  line-height: 2rem;
  text-align: center;
}

.about-i-container {
  margin-top: 100px;
}

.about-i-content {
  font-weight: 200;
  margin-left: -200px;
  font-size: 2rem;
  margin-top: -25px;
}
/* About Styling Ends */

/* Work Styling */
.work-container {
  height: 100vh;

}

.work-content {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

.work-content-container {
  height: 90vh;
  justify-content: center;
}

.work-img {
  opacity: 0;
  width: 100%;
  height: auto;
  max-width: 400px;
  box-sizing: border-box;
  transition: ease .2s;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 99999;
  object-fit: cover;
}

.work-img1 {
  
}

.work-img1-container {
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  box-sizing: border-box;
  
}
/* Work Styling Ends */

/* Newsletter Styling */
.newsletter-content {
  background-color: #242222;
  color: #edece7;
  font-size: 24px;
  padding: 50px;
}

/* Register Styling */
.border {
  border: 0.5px solid var(--body-bg-color);
}

.register-title {
  background-color: var(--font-color);
  color: var(--body-bg-color);
}

.register-form {
  background-color: var(--font-color);
 
}

.register-input {
  color: var(--body-bg-color);
  background-color: var(--font-color);
  border: 1px solid var(--body-bg-color);
  min-height: 32px;
  min-width: 200px;
  margin-right: 12px;
  margin-bottom: 6px;
  padding-right: 16px;
  border-width: 1px;
  text-transform: uppercase;
}

.register-container {
  padding: 25px;
  background-color: var(--font-color);
}
/* Register Ends */

/* Flex Styling */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

/* Colors */
.bkg-transparent {
  background-color: transparent;
}

/* Animations */
@keyframes move-text {
  0% { bottom: -0.5em; opacity: 1; }
  50% { bottom: 0em; }
  100% { bottom: 0; opacity: 1; }
}

@keyframes move-text2 {
  0% { bottom: 0; opacity: 1; }
  50% { bottom: 0em; }
  100% { bottom: -0.2em; opacity: 1; }
}

@keyframes textAnimation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-animation {
  position: relative;
  display: inline-block;
  opacity: 0;
  animation: textAnimation 2s forwards;
  animation-delay: 1s;
}

/* Animations End */

@media only screen and (max-width: 600px) {
  * {
    cursor: auto;
  }
  .home-container {
    flex-direction: column;
  }
  .logo-container {
    height: 200vw;
  }
  .logo {
    margin-top: 20rem;
    padding-bottom: 100%;
  }
  .contact-form-container {
    /*padding: 50px;*/
  }
  .form-button {
    padding: 10px 100px;
  }
  .form-input {
    width: 90%;
  }
  .about-i {
    width: 100%;
  }
  .about-i-title {
    padding-bottom: 0px;
  }
  .about-i-content {
    margin-left: -150px;
  }
  .register-form {
    display: flex;
  flex-direction: column;
  }
  .work-content {
    padding: 50px;
  }
 
}

@media only screen and (device-width: 768px) {
  .logo-container {
    
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .logo-container {
  
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .logo-container {
  
  }
}

